.App {
  font-family: sans-serif;
  text-align: center;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.length {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
